<h1>About</h1>
<p>Projet du groupe</p>
<h3>Qui sommes nous ?</h3>
<ul>
    <li><%= link_to 'Notre Groupe', groupe_path %></li>
    <li><%= link_to 'Moi', yo_path %></li>
</ul>

<p><%= link_to '<- Homepage', root_path %></p>
